streamlit
pandas
numpy
sqlalchemy
psycopg2-binary
supabase
google-play-scraper
requests
nltk
bertopic
sentence-transformers
scikit-learn
matplotlib
wordcloud
python-dotenv
tenacity
beautifulsoup4
plotly
tqdm
selenium
webdriver-manager
lxml

# Устанавливаем CPU-версию torch (меньше размер)
--extra-index-url https://download.pytorch.org/whl/cpu
torch>=2.0.0
torchvision>=0.15.0

# transformers и gigachat
transformers>=4.30.0
gigachat>=0.1.0

# natasha требует дополнительные библиотеки
natasha>=1.5.0
